# Windows builds, releases
*.exe
*.zip
*.tar.gz
*.7z
*.rar

# Downloaded pdf files
*.pdf

# Gems lying around
*.gem

# Configs that might leak
pudding_client_config.xml
pudding_server_config.xml


# Running git changelog
.gitmsg